
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
#admin-page{
    padding-top: 0px;
}

.comment-reply{
    display: none;
}
.error-flash-ul{
    margin: 0;
    padding: 0; 
}
.error-flash .error-flash-ul li{
    margin: 0;
    padding: 0;
    list-style:none;
    text-align: center;
}